.function-page-container {
  background: rgba(0, 0, 0, 0.091);
  background-image: url(../images/darkWood2.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  height: 250vh;
  box-shadow: inset 0 0 190px 500px rgba(0, 0, 0, 0.5);

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;

    .function-welcome-header {
      font-size: 2em;
      color: rgb(157, 157, 157);
      font-weight: 500;
      width: 100%;
      max-width: 1000px;

      min-width: 500px;
      text-align: center;
      margin-top: 20px;
      padding-bottom: 60px;
      padding-top: 10px;
      clip-path: polygon(
        87.3% 0,
        99.5% 60%,
        100% 100%,
        89.7% 63%,
        10.3% 63%,
        0 100%,
        0.5% 60%,
        12.7% 0
      );
      box-shadow: inset 0px 23px 42px 33px rgba(0, 0, 0, 0.7);
    }
    .function-welcome-sub-header {
      padding: 20px 50px;
      clip-path: polygon(
        90% 0,
        100% 2%,
        100% 92%,
        92% 100%,
        8% 100%,
        0 90%,
        0 2%,
        10% 0
      );
      // box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.9),
      box-shadow: inset 0 0 66px 32px rgba(0, 0, 0, 0.8);
      transform: translateY(-20px);

      .sub-header-picture {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 300px;
        padding: 20px 0px;
      }
      .sub-header-picture img {
        min-width: 150px;
        max-width: 900px;
        height: auto;
        width: 100%;
      }
    }
  }
}
