.function-page-container {
  background: rgba(0, 0, 0, 0.091);
  background-image: url(../images/darkWood2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 190px 500px rgba(0, 0, 0, 0.5);

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 220px;

    .function-welcome-header {
      display: flex;
      justify-content: center;
      font-size: 2em;
      color: rgb(157, 157, 157);
      font-weight: 500;
      width: 100%;
      max-width: 1000px;

      min-width: 400px;
      text-align: center;
      // margin-top: 20px;
      padding-bottom: 60px;
      padding-top: 10px;
      clip-path: polygon(
        87.3% 0,
        99.5% 60%,
        100% 100%,
        89.7% 63%,
        10.3% 63%,
        0 100%,
        0.5% 60%,
        12.7% 0
      );
      box-shadow: inset 0px 10px 35px 33px rgba(0, 0, 0, 0.7);

      .function-welcome-header-text {
        width: 72vw;
      }
    }
    @media (max-width: 890px) {
      .function-welcome-header {
        font-size: 1.3em;
      }
    }
    @media (max-width: 595px) {
      .function-welcome-header {
        font-size: 1.1em;
      }
    }

    .function-welcome-sub-header {
      padding: 20px 50px;
      clip-path: polygon(
        90% 0,
        100% 2%,
        100% 98%,
        90% 100%,
        10% 100%,
        0 98%,
        0 2%,
        10% 0
      );
      // box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.9),
      box-shadow: inset 0 0 66px 32px rgba(0, 0, 0, 0.8);
      transform: translateY(-20px);

      .sub-header-picture {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 300px;
        padding: 20px 0px;
      }
      .sub-header-picture img {
        min-width: 150px;
        max-width: 900px;
        height: auto;
        width: 100%;
      }
    }
  }
  @media (max-width: 462px) {
    .content-wrapper {
      padding-top: 250px;
    }
  }
  @media (max-width: 250px) {
    .content-wrapper {
      padding-top: 270px;
    }
  }
  @media (max-width: 212px) {
    .content-wrapper {
      padding-top: 300px;
    }
  }
}
