.modal-header {
  // background-color: rgb(223, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 2px;
  // box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.34);

  .modal-title {
    text-align: center;
    width: 100%;
    font-size: 2em;
  }

  .close-icon {
    font-size: 30px;
    margin-right: 10px;

    .close-modal-button {
      text-align: right;
    }
  }
}

.enigma-settings-container {
  height: 200px;
}

.modal-text-fields {
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal-text-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #d7d7d7;
    padding: 15px 0px;
    margin-bottom: 25px;
    width: 80vw;
    box-shadow: 1.5px 1.5px 4px 1px rgba(0, 0, 0, 0.45),
      inset 0px 0px 60px 10px rgba(0, 0, 0, 0.15);

    .char-count {
      width: 88%;
      font-size: 0.8em;
      padding-bottom: 2px;
    }

    .text-field {
      height: 80px;
      width: 90%;
      resize: none;
      vertical-align: middle;
      font-size: 1em;
    }
    .text-field-sub-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-top: 5px;

      .id-field {
        height: 18px;
        width: 100px;
        resize: none;
        text-align: center;
        margin-top: 2px;
        font-size: 1em;
        font-weight: 500;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.347);
      }

      .text-submit-button {
        @include submit-buttons();
      }
    }
  }
}

.enigma-settings-container {
  display: flex;
  justify-content: center;

  .rotor-settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    width: 160px;

    .rotor-settings-header {
      padding-bottom: 10px;
    }

    .rotor {
      display: flex;
      padding-bottom: 10px;
      .rotor-header {
        padding-right: 10px;
      }
    }
  }
}

.dropdown-list {
  display: flex;

  .dropdown-arrow {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    transition: 0.3s;
    border: 1px solid black;
    border-left: none;
    height: 22px;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
      text-decoration: none;
      color: red;
      // font-size: 1em;
    }
  }
  button {
    // font-size: 0.9em;
  }
  // font-size: 0.9em;
  height: 22px;
}

.show-my-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  background-color: white;
  height: 100px;
  width: 40px;
  overflow: scroll;
  button {
    border: none;
  }
}
.hide-my-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-right: none;
  height: 20px;
  width: 41px;
  cursor: pointer;
}
